<div class="title_header"><h1>Sign up</h1></div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  	<fieldset>
		<ul>
			<li>
				<label for="position">Email:</label>
				<div><%= f.text_field :email %></div>
				<div>ryan@depotalternative.com</div>
			</li>
		</ul>
	</fieldset>

  	<fieldset>
		<ul>
			<li>
				<label for="position">Password:</label>
				<div><%= f.password_field :password %></div>
				<div>Tip:  For a strong password use a combination of at least 6 letters and numbers.</div>
			</li>
		</ul>
	</fieldset>

  	<fieldset>
		<ul>
			<li>
				<label for="position">Comfirm:</label>
				<div><%= f.password_field :password_confirmation %></div>
				<div>Please confirm your password.  This is case sensitive.</div>
			</li>
		</ul>
	</fieldset>

  	<div id="action">
		<%= f.submit "Sign up" %>
	</div>
	
<% end %>

<%= render :partial => "devise/shared/links" %>
