<h1>Listing users ( <%= @users.count %> )</h1>

<%= link_to "Back to Admin Dashboard", admins_index_path %>

<table>
  <tr>
    <th>Username</th>
    <th>Role</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.role %></td>

    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>