<div class="title_header"><h1>Sign up</h1></div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  	<fieldset>
		<ul>
			<li>
				<label for="position">Email:</label>
				<div><%= f.text_field :email %></div>
				<div>Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name) %></div>
			</li>
		</ul>
	</fieldset>

  	<fieldset>
		<ul>
			<li>
				<label for="position">Password:</label>
				<div><%= f.password_field :password %></div>
				<div><%= link_to "Forgot your password?", new_password_path(resource_name) %></div>
			</li>
		</ul>
	</fieldset>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  	<div id="action">
		<%= f.submit "Sign in" %>
	</div>
<% end %>