<h1>Listing suppliers in <%= @city.city_name %>, <%= @state.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.city_name %>
</p>

<p>
  <b>State:</b>
  <%= @state.name %>
</p>



<% if @city.suppliers.size == 0 %>
    <p>
    There are no suppliers for this city.
    </p>
<% else %>
    <table>
        <tr>
        <th>Name
        <th>City</th>
        <th>State</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

        <% @city.suppliers.each do |supplier| %>
          <tr>
            <td><%= supplier.name %></td>
            <td><%= supplier.description %></td>
            <td><%= link_to 'Show', supplier %></td>
            <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
            <td><%= link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
    </table>
<% end %>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
