<%= form_for @supplier, :html=>{:multipart=>true} do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<ul>
			<li>
				<label for="position">Name:</label>
				<div><%= f.text_field :name %></div>
				<div>Example:  Jim's Hardware</div>
			</li>
		</ul>
	</fieldset>
	
	<fieldset>
		<ul>
			<li>
				<label for="position">Address:</label>
				<div><%= f.text_field :address %></div>
				<div>Example:  123 Oak Grove Rd.</div>
			</li>
		</ul>
	</fieldset>

  	<fieldset>
		<ul>
			<li>
				<label for="position">City:</label>
				<div><%= f.collection_select :city_id, City.all, :id, :city_name%></div>
			</li>
		</ul>
	</fieldset>

	<fieldset>
		<ul>
			<li>
				<label for="position">Specialty:</label>
				<div><%= f.collection_select :specialty_id, Specialty.all, :id, :name%></div>
				<div>Choose from out list of specialties.  Don't see what you're looking for?  Send us some feedback and we'll add it to our list.</div>
			</li>
		</ul>
	</fieldset>


  	<fieldset>
		<ul>
			<li>
				<label for="position">Phone:</label>
				<div><%= f.text_field :phone_number %></div>
				<div>Example:  123-456-7890</div>
			</li>
		</ul>
	</fieldset>
	
	<fieldset>
		<ul>
			<li>
				<label for="position">Email:</label>
				<div><%= f.text_field :email %></div>
				<div>Example:  ryan@something.com</div>
			</li>
		</ul>
	</fieldset>
 
	<fieldset>
		<ul>
			<li>
				<label for="position">Description:</label>
				<div><%= f.text_area :description %></div>
				<div>
					Tells us about your company/store.  Tell your customers why you're special and should use your company for their next project.
				</div>
			</li>
		</ul>
	</fieldset>

	<fieldset>
		<ul>
			<li>
				<label for="position">Picture:</label>
				<div><%= f.file_field :uploaded_file %></div>
				<div>
					Upload a picture of a job you've completed or your store.  Make sure your picture is a good representation of who you are or how you want to be portrayed.  You can always change this after you have created your listing.
				</div>
			</li>
		</ul>
	</fieldset>

  <div id="action">
    <%= f.submit %>
  </div>
<% end %>
