<script type="text/javascript">
    $(document).ready(function(){
        $("select#supplier_state_id").change(function(){
            var id_value_string = $(this).val();
            if (id_value_string == "") {
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("select#supplier_city_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "--No Cities--" + "</option>";
                $(row).appendTo("select#supplier_city_id");
            }
            else {
                // Send the request and update sub category dropdown
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/cities/for_stateid/' + id_value_string,
                    timeout: 2000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){
                        // Clear all options from sub category select
                        $("select#supplier_city_id option").remove();
                        //put in a empty default line
                        var row = "<option value=\"" + "" + "\">" + "--Select a City--" + "</option>";
                        $(row).appendTo("select#supplier_city_id");
                        // Fill sub category select
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.city.id + "\">" + j.city.city_name + "</option>";
                            $(row).appendTo("select#supplier_city_id");
                        });
                     }
                });
            };
                });
    });
</script>

<%= form_for(@supplier, :html=>{:multipart=>true}) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<ul>
			<li>
				<label for="position">Name:</label>
				<div><%= f.text_field :name %></div>
				<div>Example:  Jim's Hardware</div>
			</li>
		</ul>
	</fieldset>
	
	<fieldset>
		<ul>
			<li>
				<label for="position">Address:</label>
				<div><%= f.text_field :address %></div>
				<div>Example:  123 Oak Grove Rd.</div>
			</li>
		</ul>
	</fieldset>

    <fieldset>
        <ul>
            <li>
                <label for="position">State:</label>
                <% if @state %>
                  <div><%= collection_select :supplier, :state_id, @states, :id, :name, {:selected => @state.id, :prompt => '--Select a State--'} %></div>
                <% else %>
                  <div><%= collection_select(:supplier, :state_id, @states, :id, :name, {:prompt => '--Select a State--'}) %></div>
                <% end %>
              <div>Example:  Alabama</div>
            </li>
        </ul>
    </fieldset>

    <fieldset>
        <ul>
            <li>
                <label for="position">City:</label>
                <div><%= collection_select :supplier, :city_id, @cities, :id, :city_name, {:prompt => '--Select a City--'} %></div>
                <div>Example:  Montgomery</div>
            </li>
        </ul>
    </fieldset>

	<fieldset>
		<ul>
			<li>
				<label for="position">Specialty:</label>
				<div><%= f.collection_select :specialty_id, Specialty.all, :id, :name%></div>
				<div>Choose from out list of specialties.  Don't see what you're looking for?  Send us some <%= link_to "feedback", "http://getsatisfaction.com/depotalternative" %> and we'll add it to our list.</div>
			</li>
		</ul>
	</fieldset>


  	<fieldset>
		<ul>
			<li>
				<label for="position">Phone:</label>
				<div><%= f.text_field :phone_number %></div>
				<div>Example:  123-456-7890</div>
			</li>
		</ul>
	</fieldset>
	
	<fieldset>
		<ul>
			<li>
				<label for="position">Email:</label>
				<div><%= f.text_field :email %></div>
				<div>Example:  ryan@something.com</div>
			</li>
		</ul>
	</fieldset>
 
	<fieldset>
		<ul>
			<li>
				<label for="position">Description:</label>
				<div><%= f.text_area :description %></div>
				<div>
					Tells us about your company/store.  Tell your customers why you're special and should use your company for their next project.
				</div>
			</li>
		</ul>
	</fieldset>

	<fieldset>
		<ul>
			<li>
				<label for="position">Picture:</label>
				<div><%= f.file_field :uploaded_file %></div>
				<div>
					Upload a picture of a job you've completed or your store.  Make sure your picture is a good representation of who you are or how you want to be portrayed.  You can always change this after you have created your listing.
				</div>
			</li>
		</ul>
	</fieldset>

  <div id="action">
    <%= f.submit %>
  </div>
<% end %>
