<div class="supplier_filter search">
	<ul class="search_bar">
		<li>Showing all suppliers in </li>
		<li class="menu"><%= link_to "  Any City", "#" %></li>
	</ul>
</div>

<div id="suppliers_wrapper">

	<ul id="listings">

	<% @suppliers.each do |supplier| %>
	<li>
		<a href="#">
			<span>
	    		<div class="role">
					<h3><%= supplier.name %></h3>
					<h4>Flooring</h4> <span><%= supplier.description %></span>
				</div>
				<span class="location">
					<%= supplier.city.city_name %>, <%= supplier.city.state %>
				</span>
				<div class="meta"><%= supplier.created_at.to_date.to_s(:short) %></div>
			</span>
		</a>
	</li>
	<% end %>
	
	</ul>

</div>

<br />

<%= link_to 'New Supplier', new_supplier_path %>
