<p id="notice"><%= notice %></p>

<div id="supplier_header">
	<div class="name">
		<div><h2><%= @supplier.name %></h2> <%= link_to 'Edit', edit_supplier_path(@supplier) %></div>
		<div class="city_state"><%= @supplier.city.city_name %>, <%= @supplier.city.state %></div>
	</div>
	
	<% if current_user %>
		<div class="favorite"><%= link_to "Favorite", "#" %></div>
		<div class="share"><%= link_to "Share", "#" %></div>
		<div class="print"><%= link_to "Print", "#" %></div>			
	<% else %>
		<%= link_to 'Sign in', new_user_session_path %> for options
	<% end %>

</div>

<div id="clear"></div>

<div id="supplier_body">
	<div class="description"><%= @supplier.description %></div>

	<div class="contact_info">
		<h2>Get in touch</h2>
		<% if current_user %>
			<h3>Phone:  <%= @supplier.phone_number %></h3>
			<h3>Email:  <%= mail_to @supplier.email %></h3>
		<% else %>
			<h3><%= link_to 'Sign in', new_user_session_path %></h3>
		<% end %>
	</div>

	<div id="clear"></div>
	
	<p>
	  <b>Specialty:</b>
	  <%= @supplier.specialty.name %>
	</p>

	<p>
	  <% if @supplier.uploaded_file_file_size != nil  %>
	    <div class="image"><%= image_tag @supplier.uploaded_file.url(:normal) %></div>
	  <% else %>
	    This supplier hasn't uploaded any work.
	  <% end %>
	</p>
</div>