<p id="notice"><%= notice %></p>

<div id="supplier_header">
	<div class="name">
		<div><h2><%= @supplier.name %></h2></div>
		<div class="city_state"><%= @supplier.city.city_name %>, <%= @supplier.city.state %></div>
	</div>
	<div class="favorite">
	<% if current_user %>
		<%= link_to "Favorite", "#" %>
	<% else %>
		<%= link_to 'Sign in', new_user_session_path %> to Favorite
	<% end %>
	</div>
</div>

<div id="clear"></div>

<p><%= @supplier.description %></p>

<p>
  <b>Phone Number:</b>
  <%= @supplier.phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @supplier.email %>
</p>

<p>
  <b>Specialty:</b>
  <%= @supplier.specialty.name %>
</p>

<p>
  <% if @supplier.uploaded_file_file_size != nil  %>
    <br>Uploaded Image - Normal Size<br>
    <%= image_tag @supplier.uploaded_file.url(:normal) %>
  <% else %>
    <br>Uploaded Image
    No file has been uploaded.
  <% end %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
