<div id="footer_wrapper">
	<ul>
		<li><%= link_to 'About Us', "#" %></li>
		<li><%= link_to 'All Suppliers', "#" %></li>
		<li><%= link_to 'New Listing', "#" %></li>
		<li><%= link_to 'FAQs', "#" %></li>
		<li><%= link_to 'Contact Us', "#" %></li>
		<li><%= link_to 'Admin', admins_index_path %></li>
	</ul>
	<div id="clear"></div>
	<h4>A Jolly Factory Production</h4>
	<p>© 2011 Depot Alternative, LLC. Rob Henry</p>
</div>