<div class="header_wrapper">
	<div class="wrapper">
		<div class="logo">
			<%= link_to image_tag("logo.png"), root_url %>
		</div>
		<ul id="nav">
			<li><%= link_to 'Suppliers', suppliers_path %></li>
			<li><%= link_to 'Cities', cities_path %></li>
		<% if user_signed_in? %>
	        <li><%= link_to 'Specialties', specialties_path %></li>
			<li><%= link_to 'How it works', "#" %></li>	
		<% end %>
		</ul>
		<div id="login_user_status">
			<% if user_signed_in? %>
				<%= current_user.email %> | <%= link_to "Sign out", destroy_user_session_path %>
				<% else %>
				<em>Not Signed in.</em>
				<%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>
			<% end %>
		</div>
	</div>
</div>