<div class="header_wrapper">
	<div class="wrapper">
		<div class="logo">
			<%= link_to image_tag("logo.png"), root_url %>
		</div>
		<ul id="nav">
			<li><%= link_to 'Suppliers', suppliers_path %></li>
			<li><%= link_to 'How it works', "#" %></li>	
			<li><%= link_to 'Specialties', specialties_path %></li>
		<% if user_signed_in? %>
			<% if current_user.admin? %>
				<li><%= link_to 'Admin', admins_index_path %></li>
			<% end %>
		<% end %>
		</ul>
		<div id="login_user_status">
			<% if user_signed_in? %>
				<%= link_to "Sign out", destroy_user_session_path %>
			<% else %>
				<%= link_to 'Sign in', new_user_session_path %> | <%= link_to 'Sign up', new_user_registration_path %>
			<% end %>
			<%= link_to 'Create your listing', new_supplier_path, :class=>"button" %>
		</div>
	</div>
</div>