<!DOCTYPE html>
<html>
  <head>
    <title>Depot Alternative | <%= content_for?(:title) ? yield(:title) : "Support local suppliers" %></title>
    <%= stylesheet_link_tag :all %>
	<link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery', 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id="header">
		<%= render :partial => 'layouts/header' %>
	</div>
	<div id="content">
    	<div id="container">
			<div class="inner">
				<div class="wrapper">
					<%= controller.action_name %>
					<% flash.each do |name, msg| %>
		       			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		     		<% end %>
		     		<%= yield %>
					<% if controller.controller_name == "suppliers" && controller.action_name == "index" %>
					<div id="right">
						<%= image_tag "map.png", :class=>"supplier_map"%>
						<h1>Hey suppliers! Come join us.</h1>
						Want to be part of the club? Signup and upload images of your work.  Attract new customers and make more money.  Depot Alternative was created by a supplier for suppliers.  We know how difficult it is to compete with big box stores.
						
						<div class="supplier_button"><%= link_to 'Create your listing', new_supplier_path, :class=>"button" %></div>
						
						<h2>Why Depot Alternative?</h2>
						
						<div>One thing big box stores offer is convenience.  Depot Alternative's mission is to make it convenient for our customers to find their local suppliers.  We know we offer better prices, friendlier service and more convenience.  Together we can help more customers know what we've known all along.</div>
						
					</div>
					<% end %>
				</div>
			</div>
			<div id="footer">
				<%= render :partial => 'layouts/footer' %>
			</div>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8">
	  var is_ssl = ("https:" == document.location.protocol);
	  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
	  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<script type="text/javascript" charset="utf-8">
	  var feedback_widget_options = {};

	  feedback_widget_options.display = "overlay";  
	  feedback_widget_options.company = "depotalternative";
	  feedback_widget_options.placement = "left";
	  feedback_widget_options.color = "#222";
	  feedback_widget_options.style = "question";
	  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>
  </body>
</html>