<!DOCTYPE html>
<html>
  <head>
    <title>Depot Alternative | <%= content_for?(:title) ? yield(:title) : "Support local suppliers" %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id="header">
		<%= render :partial => 'layouts/header' %>
	</div>
	<div id="content">
    	<div id="container">
			<div class="inner">
				<div class="wrapper">
					<% flash.each do |name, msg| %>
		       			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		     		<% end %>
		     		<%= yield %>
				</div>
			</div>
			<div id="footer">
				<div id="footer_wrapper">
					<ul>
						<li><%= link_to 'About Us', "#" %></li>
						<li><%= link_to 'All Suppliers', "#" %></li>
						<li><%= link_to 'New Listing', "#" %></li>
						<li><%= link_to 'FAQs', "#" %></li>
						<li><%= link_to 'Contact Us', "#" %></li>
					</ul>
					<div id="clear"></div>
					<h4>A Jolly Factory Production</h4>
					<p>© 2011 Depot Alternative, LLC. Rob Henry</p>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>